.launcher-icon{
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 1px solid #000;
    margin: 20px;
    border-radius: 5px;
    padding: 20px;
    background-color: #d5d2e0;
}